@import './base.scss';

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: {
    color: $base-background-color;
  };
}

.text {
  &-color {
    &-primary {
      color: $base-color;
    }
    &-gray {
      color: $base-gray;
    }
    &-gray-very-light {
      color: $base-gray-very-light;
    }
    &-gray-light {
      color: $base-gray-light;
    }
    &-gray-dark {
      color: $base-gray-dark;
    }
    &-gray-very-dark {
      color: $base-gray-very-dark;
    }
    &-gray-common-dark {
      color: $base-gray-common-dark;
    }
    &-white {
      color: $base-white;
    }
    &-black {
      color: $base-black;
    }
    &-danger {
      color: $base-danger;
    }
  }

  &-size {
    &-huge {
      font-size: 50px;
    }
    &-large {
      font-size: 40px;
    }
    &-common {
      font-size: 28px;
    }
    &-small {
      font-size: 16px;
    }
    &-tiny {
      font-size: 12px;
    }
  }
}

.tac {
  text-align: center;
}

@keyframes marker-out-in-rotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
  10% {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }
  20% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(0);
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
  }
  50% {
    transform: rotate(0);
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
  }
  52% {
    transform: rotate(0);
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
  }
  62% {
    transform: rotate(0);
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
  }
  72% {
    transform: rotate(0);
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  99.9999% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.marker-animation-common {
  animation: marker-out-in-rotate 1s;
}

.marker-text {
  animation: delay 1s;
}



.page-loading-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(0.9) blur(10px);
  transition: .5s all;
  pointer-events: none;
  &.hide {
    backdrop-filter: none;
  }
}

.page-is-lock {
  pointer-events: none;
}
