@import './base';
@import './hpComponent/base';

* {
  margin: 0;
  padding: 0;
  color: $base-font-color;
}

html {
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $base-gray-light;
}
::-webkit-scrollbar-track {
  border: 1px solid $base-gray-light;
  width: 10px;
}

::-webkit-scrollbar-corner {
  width: 0;
  display: none;
}
