$base-color: rgb(218, 178, 26);
$base-gray-light: rgb(76, 78, 85);
$base-gray: rgb(49, 51, 58);
$base-gray-dark: rgb(34, 37, 39);
$base-gray-very-dark: rgb(29, 29, 31);
$base-white: #fff;

// 按钮
$button-padding-top: 10px;
$button-padding-bottom: 10px;
$button-padding-left: 30px;
$button-padding-right: 30px;
$button-font-size: 22px;
$button-line-height: 42px;

$button-color-primary: $base-color;
$button-font-color-primary: $base-gray-very-dark;

$button-color-default: $base-gray-light;
$button-font-color-primary: $base-white;

// 模态框
$dialog-header-background-color: $base-gray-dark;
$dialog-header-title-font-color: $base-gray-light;
$dialog-content-background-color: $base-gray;
$dialog-border-color: $base-gray-light;

$dialog-border-radius: 3px;
$dialog-header-line-height: 30px;
$dialog-header-font-size: 12px;
// stand-out: 凸起部分
$dialog-header-stand-out-height: 20px;
$dialog-header-stand-out-outer-min-width: 80px;
$dialog-header-stand-out-padding-left-right: 30px;
$dialog-header-stand-out-offset-x: 40px;
$dialog-header-stand-out-outer-and-inner-subtract: 40px;
$dialog-header-stand-out-sub-block-background-color-active: $base-color;
$dialog-header-stand-out-sub-block-background-color-normal: $base-gray-light;
$dialog-header-stand-out-sub-block-width: 40px;
$dialog-header-stand-out-sub-block-height: 12px;
$dialog-content-padding: 20px;
