@import './base.scss';

:export {
  header-background-color: $dialog-header-background-color;
  header-title-font-color: $dialog-header-title-font-color;
  content-background-color: $dialog-content-background-color;
  border-color: $dialog-border-color;
  border-radius: $dialog-border-radius;
  header-font-size: $dialog-header-font-size;
  header-line-height: $dialog-header-line-height;
  header-stand-out-height: $dialog-header-stand-out-height;
  header-stand-out-outer-min-width: $dialog-header-stand-out-outer-min-width;
  header-stand-out-outer-and-inner-subtract: $dialog-header-stand-out-outer-and-inner-subtract;
  header-stand-out-padding-left-right: $dialog-header-stand-out-padding-left-right;
  header-stand-out-offset-x: $dialog-header-stand-out-offset-x;
  header-stand-out-sub-block-background-color-active: $dialog-header-stand-out-sub-block-background-color-active;
  header-stand-out-sub-block-background-color-normal: $dialog-header-stand-out-sub-block-background-color-normal;
  header-stand-out-sub-block-background-color-normal-hover: lighten($dialog-header-stand-out-sub-block-background-color-normal, 10%);
  header-stand-out-sub-block-background-color-active-hover: lighten($dialog-header-stand-out-sub-block-background-color-active, 10%);
  header-stand-out-sub-block-background-color-hover: $dialog-header-stand-out-sub-block-background-color-hover;
  header-stand-out-sub-block-width: $dialog-header-stand-out-sub-block-width;
  header-stand-out-sub-block-height: $dialog-header-stand-out-sub-block-height;
}

.hp-dialog {
  position: relative;
  user-select: none;
  max-height: 100vh;
  * {
    user-select: none;
  }
  &_background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_header-wrapper {
    height: $dialog-header-line-height;
    min-width: $dialog-header-stand-out-outer-min-width;
    line-height: $dialog-header-line-height;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: $dialog-header-stand-out-offset-x + ($dialog-header-stand-out-outer-and-inner-subtract / 2);
    padding-right: $dialog-header-stand-out-sub-block-width + ($dialog-header-stand-out-outer-and-inner-subtract / 2);
    font-size: $dialog-header-font-size;
    text-align: center;
    .hp-dialog_header > * {
      font-size: $dialog-header-font-size;
      color: $dialog-header-title-font-color;
    }
  }
  &_content-wrapper {
    overflow-y: auto;
  }
  &_content {
    padding: $dialog-content-padding;
  }
  &.header-position-top {
    .hp-dialog_content-wrapper {
      height: calc(100% - #{$dialog-header-line-height});
      margin-top: $dialog-header-line-height;
    }
  }
  &.header-position-bottom {
    .hp-dialog_content-wrapper {
      height: calc(100% - #{$dialog-header-line-height});
    }
    .hp-dialog_background {
      transform: translate(-50%, -50%) scaleY(-1);
    }
    .hp-dialog_header-wrapper {
      bottom: 0;
      top: auto;
    }
  }
  &.header-position-left {
    .hp-dialog_content-wrapper {
      margin-left: $dialog-header-line-height;
      width: calc(100% - #{$dialog-header-line-height});
      height: 100%;
    }
    .hp-dialog_background {
      transform: translate(-50%, -50%) rotate(90deg) scaleY(-1);
    }
    .hp-dialog_header-wrapper {
      transform: rotate(90deg) translateY(-100%);
      transform-origin: top left;
    }
  }
  &.header-position-right {
    .hp-dialog_content-wrapper {
      width: calc(100% - #{$dialog-header-line-height});
      height: 100%;
    }
    .hp-dialog_background {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .hp-dialog_header-wrapper {
      left: 100%;
      transform: rotate(90deg);
      transform-origin: top left;
    }
  }
}

.hp-sub-dialog {
  border: 1px solid $base-gray-light;
  text-align: left;
  &_title {
    background-color: $base-gray-light;
    line-height: 20px;
    font-size: 12px;
    color: $base-white;
    padding: 0 10px;
    text-align: left;
  }
  &_content {
    padding: 20px;
    background: $base-gray-common-dark;
  }
}

.hp-block {
  background-color: $base-gray-very-dark;
  position: relative;
  &:after {
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    background-color: $base-white;
    position: absolute;
    top: 0;
    left: -8px;
  }
  &.is-transparent {
    background-color: transparent;
  }
  & + .hp-block {
    margin-top: 10px;
  }
}
